<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OgreBitmapFontMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OgreBitmapFontMaker.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Arial, 28.2pt</value>
            </setting>
            <setting name="BitmapSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="EssentialChars" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
        </OgreBitmapFontMaker.Properties.Settings>
    </userSettings>
</configuration>